<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Categories</title>
    <!-- 2 load the theme CSS file -->
            <div th:replace="fragments/header :: header-css"/>

</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"/>
</head>
<body>
<div th:replace="fragments/header :: headerFragment">
</div>
<form action="/categories">
    <input type="text" name="searchText" th:value="${searchText}">
    <button value="search"> szukaj</button>
</form>
<div id="container"></div>
<hr>
<form method="post" action="/addCategory">
    <input type="text" name="categoryName">
    <input type="number" name="parentId">
    <button>Dodaj</button>
</form>
<!--<div th:replace="fragments/footer :: footer"></div>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:inline="javascript">
    $(function () {
        $('#container').jstree({
            'core': {
                'data':
                    [[${categoriesData}]],
                "check_callback": true
            },
            "plugins": ["dnd"]
        })
        $('#container').on('move_node.jstree', function (e, data ) {
            console.log(data)
            console.log("data.parent=" + data.parent)
            console.log("data.node.id=" + data.node.id)
            $.post("/moveCategory",

                {
                    newParentId:  data.parent,
                    movedId:  data.node.id
                }
            ).success(function(data){
                alert(data)
            })
        })
    });
</script>
<!--<div th:replace="fragments/footer :: footer"></div>-->

<footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script type="text/javascript"
            src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</footer>
</body>
</html>
