<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <div th:replace="fragments/header :: header-css"></div>

</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>

    <form class="form-signin" method="post" th:action="@{/register}" th:object="${registrationUserDto}">
        <label for="firstName">First name</label>
        <input class="form-control" th:field="*{firstName}" placeholder="firstName"><br/>
        <p th:text="${firstNameError}" th:if="${firstNameError}"></p><br/>

        <input class="form-control"th:field="*{lastName}" placeholder="lastName"><br/>

        <input class="form-control"th:field="*{eMail}" placeholder="eMail"><br/>
        <p th:if="${userFoundMessage}" th:text="${userFoundMessage}"></p><br/>

        <input class="form-control"th:field="*{password}" placeholder="password"><br/>

        <input class="form-control"th:field="*{city}" placeholder="city"><br/>

        <select class="form-control" th:field="*{country}">
            <option th:value="''">Wybierz</option>
            <option th:each="country : ${countryList}"
                    th:value="${country.symbol}"
                    th:text="${country.plName}"></option>
        </select><br/>

        <input class="form-control" th:field="*{zipCode}" placeholder="zipCode"><br/>

        <input class="form-control"th:field="*{street}" placeholder="street"><br/>

        <input class="form-control"th:field="*{birthDate}" placeholder="birthDate"><br/>

        <input class="form-control"th:field="*{pesel}" placeholder="pesel"><br/>

        <input class="form-control"th:field="*{phone}" placeholder="phone"><br/>

        <input class="form-control"th:field="*{preferEmails}" placeholder="preferEmails"><br/>

        <button>Utwórz konto</button>
    </form>
</body>
</html>
